#barChart1 div {
  background-color: #13f4f3;
  text-align: right;
  margin-bottom: 1px;
}

#barChart2 rect {
  fill: #13f4f3;
}

#barChart3 rect {
  fill: #13f4f3;
}

#barChart3 text {
  fill: black;
  font: 10px sans-serif;
  text-anchor: middle;
}
